html, body {

    background-color:blanchedalmond;

}


.homicide_text {

    color: #a04a04;
    font-weight: bold;
    font-size: 18px;
    

}

.unemployment_and_income_text {

    color: #2525c8;
    font-weight: bold;
    font-size: 18px;
 

}

.pure-u-1 img {

    height:390px ;
    width: 100vw;

}


h1 {


    font-size: 30px;
  
}


h2 {


    font-size: 30px;
  

}

p {

    font-size: 15px;
   

}


#text_div {
    margin-left: 10px;
    margin-right: 10px;
}


#slant_left {

    margin-left: 0px;
    margin-right: 40px;


}

#slant_right {

    margin-left: 40px;
    margin-right: 0px;


}


#slant_left_and_right {

    margin-left: 40px;
    margin-right: 40px;
    
}


#middle {

    text-align: center;
    margin-bottom: 40px;

}

